[project]
	description = final project for ece2524
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JoeAcanfora
[access "refs/for/refs/*"]
	read = group user/JoeAcanfora
	push = group user/JoeAcanfora
	label-Code-Review = -2..+2 group user/JoeAcanfora
	label-Verified = -1..+1 group user/JoeAcanfora
	rebase = group user/JoeAcanfora
	removeReviewer = group user/JoeAcanfora
	submit = group user/JoeAcanfora
[access "refs/heads/*"]
	read = group user/JoeAcanfora
	create = group user/JoeAcanfora
	push = +force group user/JoeAcanfora
	pushMerge = group user/JoeAcanfora
[access "refs/tags/*"]
	push = +force group user/JoeAcanfora
	pushTag = group user/JoeAcanfora
	pushSignedTag = group user/JoeAcanfora
